body {
    font-family: 'Montserrat', sans-serif;
    background: #34e89e;
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    background: linear-gradient(to right, #0f3443, #34e89e);

}
header {
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
   
}

nav {
    position: absolute;
    top: 30px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.perfil{
    text-align: center;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;

}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 20px;
}


/*aqui inicia nuestra css para nuestra home*/

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
}


.contenido-diferenciales {
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align:top;
}
.items {
    line-height:1.5;
}

.items:before {
    content:"-"
}

.items:first-child{
    font-weight: bold;

}

