body {
    background: #34e89e;
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    background: linear-gradient(to right, #0f3443, #34e89e);
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
    color: white;
}

nav {
    position: absolute;
    top: 30px;
    right: 0;
    color: white;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
    color: white;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


.tt {
    text-align: center;
    font-style: oblique;
    font-size: 50px;
    color: brown;
}

.caratula {
    text-align: center;
}


.p1 {
    font-style: italic;
    font-size: medium;
    color: black;
   
}

.descarga {
    text-align: center;
}

.flechaD {
    float: right;
}

.flechaI {
    text-align: left;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;

}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 20px;
}